.view {
    flex-direction: column;
    
}
.rent-container {
    justify-content: space-around;
    align-items: flex-end;
    background-color: #cdd1e3 ;
    border-radius: 3px;
    padding: .8rem 0;
}

.rent-container input {
    height:  2rem;
    padding-left: .5rem;
}
.rentPrice{
    width: 10rem;
    margin-right: 2rem;
}
.new-rent h2{
    color: #5c5c6b;
    font-size:1.5rem;
    margin-top: 1rem;
}
.dropdown{
    width: 14rem;
    height:  2rem;
    
}
.Dropdown-control{
    padding: .2rem;
    height: 2rem;
    border-width: .1rem;

}
.myPlaceholderClassName{
    color: #5c5c6b;
}
.submitForm{
    display: flex;
    flex-direction: row;
}
.submitForm button{
    vertical-align: bottom;
    height:  2rem;
    margin-top: 24px;    
    padding-bottom: 8px;
}